
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="mb-2">
    
    <div class="card p-2 mt-4">
        <h1 class="display-4 text-center card-header">Saltanat-E-Usman</h1>
        <div class="justify-content-between text-center">
            <img class="rounded m-2" width="250" src="~/images/download8.jpeg" />
            <img class="rounded m-2" width="250" src="~/images/download1.jpeg"/>            
            <img class="rounded m-2" width="250" src="~/images/download6.jpeg" />
            <img class="rounded m-2" width="250" src="~/images/download2.jpeg" />
            <img class="rounded m-2" width="250" src="~/images/download3.jpeg" />
            <img class="rounded m-2" width="250" src="~/images/download4.jpeg" />
            <img class="rounded m-2" width="250" src="~/images/download5.jpeg" /> 
            <img class="rounded m-2" width="250" src="~/images/download9.jpeg" />
            <img class="rounded m-2" width="250" src="~/images/download7.jpeg" />               
        </div>
    </div>
</main>


